{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section 
    class="avatar" 
    style="background: url(https://source.unsplash.com/collection/3798383/500x500) no-repeat center center/ cover"></section>
    <section class="details">

        <h3>Detalhes</h3>

        <div class="item">
            <div>Nome Completo</div>
            <div>Bruno Victor da Silva Vicente</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>24</div>
        </div>

        <div class="item">
            <div>Grau de escolaridade</div>
            <div>Graduado</div>
        </div>

        <div class="item">
            <div>Tipo de aula</div>
            <div>À distância</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <span>Matemática</span>
            <span>Física</span>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>01/01/2019</div>
        </div>

    </section>
</div>

{% endblock content %}