<!DOCTYPE html>  
<html >
    <head>
    
        {% block head %}
            <title>Aulas particulares</title>
        {% endblock %}
            <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"> -->
            <!--Coloquei essa linha direto no css,utilizando o import-->
            <link rel="stylesheet" href="/styles.css">


        </head>
        <body>
            <header>
                <!--Parte Inicial da Pagina "logo,menu,Cabeçalho"-->
                <div class="links">
                    <a href="/" class="active">Teachers</a><!-- vai ser o JS que vai colocar e retirar a class="active" para mim-->
                    <a href="/students">Students</a>
                </div>

            </header>

            {% block content %}<!--Poderia ter usado outro nome que eu quisesse no content -->
            {% endblock %}<!--Fechando o bloco-->

        </body>
    </html>