@import url('https://fonts.googleapis.com/css2?family=Roboto:400,700&display=swap');

:root{/*Criando uma variavel para cores*/
    --primary-color:#7159c1;
    --secondary-color:#f7df1e;
}

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: var(--primary-color);/*Cor de fundo*/
    font-family: 'Roboto', sans-serif;/*Vou utilizar no meu documento inteiro a fonte "ROBOTO"*/
}

header{
    background-color: white;/*Cor de fundo*/
    width: 100%;/*Largura total da página*/
    padding:32px ;/*Espaçamento*/
    text-align: center;/*Alinhar o texto ao meio*/
    box-sizing: border-box;/*border-box ele vai levar todo o conteudo até o limite da largura do conteudo que no caso e 100%.Então si eu coloco um padding de 32px não importa o tamanho do padding que eu coloco ele já vai automaticamente respeitar o limite do 100%*/
}

.links{
    font-size: 22px;/*Tamanho da Fonte*/
}

.links a + a {/*Significa o seguinte pegue o "a" que venha precedente com o outro "a".Então ele não vai pegar o primeiro "a" que e o instructors porque não tem outro "a" precedente a ele,mas ele pega o segundo porque tem o "a" precedente a ele.Então ele está pegando o "Members" .Si tivesse o terceiro "a" essa logica ia funcionar,porque o terceiro tbm tem o "a" precedente a ele*/
    margin-left: 32px;

}

.links a {/*Aqui e o pai*/
    text-decoration: none;/*Tirar a sublinhado de baixo do link*/
    color: #777;/*Cor Padrão*/
    position: relative;
}

.links a.active{
    font-weight: bold;
    color:  var(--primary-color);/*Quando ele estiver na página ele add essa ideia de cor*/
}

.links a:hover{/*Selecione e estilize um link ao passar o mouse sobre ele*/
    /*text-decoration: underline;*//*quando passar o mouse sobre o link vai apareçer um sublinhado*/
    color:  var(--primary-color);/*quando passar o mouse sobre o link vai mudar a cor*/
}

.links a::after{/*pseudo elementos*/
    content:"";/*Sempre precisa ter um content pode ser vazio*/
    width: 0%;/*Largura de 0%*/
    height: 2px;/*Altura*/
    background-color: var(--primary-color);
    position: absolute;
    left: 0;/*porque temos um posicionamento absoluto*/
    bottom: -2px;/*Ele está relativo a pagina toda porque o pai dele que e o "a" não está com o position relative*/
}

.links a:hover::after {
    width: 100%;/*Largura de 100%*/
    transition:width 700ms ease-in-out ;/*700ms e o tempo de transição*/
}
/*Vamos aprender os tipos de transitions,as 4 propriedades.Primeira propriedade que temos e falar de qual tipo ela é,e uma transição que vai aplicar em todas "alls" transições,si ela vai aplicar na largura "width",na altura "height"
Eu coloquei width: 0%; no estado inicial,passo o mouse em cima ele está mudando para 100% então quando aplico o transition:widht
Proximo tipo de propriedade e a duração vai durar 700ms,do ponto A para o ponto B vai durar 700ms
Posso indicar si ele vai percorrer rapido ou devagar que  e o time "ease-in-out".Por ultimo posso colocar um delay para que demore "1s" para iniciar por exemplo si eu não quiser posso tirar o delay e ele entende que imediatamente vai rodar a transição */

/*=== CARD ===*/

.card{
    background-color: white;
    width: 800px;
    min-height: 400px;

/*Espaçamento ao centro*/
    margin: 45px auto;

/*grid dividido ao meio*/
    display: grid;
    grid-template-columns: 1fr 1fr;

/*sombra*/
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.4) ;/*Primeiro 0px e o eixo x"vertical",segundo 2px e o eixo y "horizontal".O primeiro 6px vai borrar e outro -2px vai espalhar vai ficar maior*/

/*animation*/
animation-name:up ;/*Toda animação precisa ter um nome.E o nome e eu que escolho*/

animation-duration: 200ms;/*Duração da animação,para ela aconteçer*/

animation-timing-function: ease;/*usando essa propriedade deixa a minha animação chegando suave*/

/*Essas 3 linhas de cima posso trocar por:
animation: up 200ms ease-out;
*/

/*animation-fill-mode: forwards;usando essa propriedade a animação vai terminar no "to"*/

/*animation-delay: 1s;Vai demorar um segundo para animação acontece,tenho que voltar a opacidade ao "0"*/

/*animation-play-state: running;Estado da animação si está pausado ou iniciado*/

/*animation-direction: reverse;Essa animação pode ser usada para o elemento sumir*/

/*animation-iteration-count: 3;Si eu quero que a animação aconteça uma vez,2 vez ou 3 vezes como e no caso*/

/*animation-direction: alternate;Possa mudar a ordem de inicio que ele estava fazendo de baixo p/ cima e agora vai fazer o reverso vai fazer de cima para baixo.Nesse caso vai ficar alternando*/
}

@keyframes up{
    from{
        opacity: 0;
        transform:translateY(15px);/*A imagem vai vim de baixo para cima*/
    }
    to{
        opacity: 1;
    }
}

/* details */

.details{
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0,0,0,0.1);/*Linhas em cada elemento,ou seja divisorias*/
    padding: 16px 0;
}

.details .item:last-child {/*Vai representar o ultimo elemento*/
    border: none;/*Tirando a ultima linha do elemento*/
}

.details h3,
.details .item div:nth-child(1){/*Pegando a primeira div da classe item*/
    color: #777;
    font-size: 14px;
    line-height: 24px;/*Da uma separada entre os textos*/
    letter-spacing: 0.7px;/*Espaçamento entre as letras*/
    font-weight: normal;
}

.details .item div:nth-child(2){/*Pegando a segunda div da classe item*/
    color:#555;
    font-weight: bold;
    font-size: 18px;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
}

.details .item span{
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
   margin-right: 4px;/*Espaçamento entre eles*/
   margin-top: 8px;
   display: inline-block;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 12px;
}

/*FORM*/

input{
  width: 100%;
  outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"]{/*Aqui eu estou selecionando somente o input do tipo radio*/
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"]{
   padding: 8px 32px;
   background-color: var(--primary-color);
   color: white;
   border-radius: 4px; /*bordas arredondadas*/
   margin-top: 32px;/*Separar em cima*/
   width: 100%;
   font-size: 16px;
}